flows.json
[{"id":"aecd103c.a28c5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c0f75825.eb9448","type":"ui_text","z":"aecd103c.a28c5","group":"addd5854.72e4e8","order":0,"width":0,"height":0,"name":"","label":"Day","format":"{{msg.payload.Day}}","layout":"row-spread","x":334,"y":295,"wires":[]},{"id":"118c10ef.2a2eff","type":"ui_form","z":"aecd103c.a28c5","name":"","label":"","group":"addd5854.72e4e8","order":1,"width":0,"height":0,"options":[{"label":"Day","value":"Day","type":"number","required":true},{"label":"Hour","value":"Hour","type":"number","required":true},{"label":"Month","value":"Month","type":"number","required":true},{"label":"Longitude","value":"Longitude","type":"number","required":true},{"label":"Latitude","value":"Latitude","type":"number","required":true}],"formValue":{"Day":"","Hour":"","Month":"","Longitude":"","Latitude":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":147,"y":239,"wires":[["c0f75825.eb9448","3ed29c6b.d32274","4841b743.f8b3f8","f2b233b2.3d274","5bb64554.69d9dc","d7b47269.3504a","a331f194.1564c"]]},{"id":"3ed29c6b.d32274","type":"debug","z":"aecd103c.a28c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":371,"y":238,"wires":[]},{"id":"4841b743.f8b3f8","type":"function","z":"aecd103c.a28c5","name":"tokenGeneration","func":"global.set(\"Day\",msg.payload.Day);  \nglobal.set(\"Hour\",msg.payload.Hour);\nglobal.set(\"Month\",msg.payload.Month);\nglobal.set(\"Longitude\",msg.payload.Longitude); \nglobal.set(\"Latitude\",msg.payload.Latitude); \nreturn msg;","outputs":1,"noerr":0,"x":411,"y":181,"wires":[["af5e11c7.539e2"]]},{"id":"af5e11c7.539e2","type":"http request","z":"aecd103c.a28c5","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":604,"y":178,"wires":[["def41451.c5c4d8","4f30d169.e7a5e"]]},{"id":"def41451.c5c4d8","type":"debug","z":"aecd103c.a28c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":779,"y":179,"wires":[]},{"id":"4f30d169.e7a5e","type":"function","z":"aecd103c.a28c5","name":"Prediction","func":"var token=msg.payload.token;\nvar Day = global.get(\"Day\");\nvar Hour = global.get(\"Hour\");\nvar Month = global.get(\"Month\");\nvar Longitude = global.get(\"Longitude\");\nvar Latitude = global.get(\"Latitude\");\nmsg.payload = {\"fields\":[\"Day\",\"Hour\",\"Month\",\"Longitude\",\"Latitude\"],\"values\":[[Day,Hour,Month,Longitude,Latitude]]};\nmsg.headers = {\"Authorization\": \"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":78,"wires":[["cb4f65c3.6644b8"]]},{"id":"cb4f65c3.6644b8","type":"http request","z":"aecd103c.a28c5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/19ac1b93-7683-4bda-879b-f20e6e85da75/deployments/9c3474ad-6107-44cb-ac13-d9abc850e042/online","tls":"","proxy":"","authType":"basic","x":602,"y":74,"wires":[["5ed4a154.94911","b91156b7.cce518"]]},{"id":"5ed4a154.94911","type":"debug","z":"aecd103c.a28c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":804,"y":40,"wires":[]},{"id":"b91156b7.cce518","type":"function","z":"aecd103c.a28c5","name":"parsing","func":"msg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":808,"y":108,"wires":[["4bd2f600.221a7c","6fc5190.4e75ae8"]]},{"id":"4bd2f600.221a7c","type":"debug","z":"aecd103c.a28c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":985,"y":81,"wires":[]},{"id":"6fc5190.4e75ae8","type":"ui_text","z":"aecd103c.a28c5","group":"addd5854.72e4e8","order":2,"width":0,"height":0,"name":"","label":"No_of_Victims","format":"{{msg.payload}}","layout":"row-spread","x":998,"y":150,"wires":[]},{"id":"f2b233b2.3d274","type":"ui_text","z":"aecd103c.a28c5","group":"addd5854.72e4e8","order":1,"width":0,"height":0,"name":"","label":"Hour","format":"{{msg.payload.Hour}}","layout":"row-spread","x":328,"y":357,"wires":[]},{"id":"5bb64554.69d9dc","type":"ui_text","z":"aecd103c.a28c5","group":"addd5854.72e4e8","order":2,"width":0,"height":0,"name":"","label":"Month","format":"{{msg.payload.Month}}","layout":"row-spread","x":331,"y":407,"wires":[]},{"id":"d7b47269.3504a","type":"ui_text","z":"aecd103c.a28c5","group":"addd5854.72e4e8","order":3,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.Longitude}}","layout":"row-spread","x":330,"y":454,"wires":[]},{"id":"a331f194.1564c","type":"ui_text","z":"aecd103c.a28c5","group":"addd5854.72e4e8","order":4,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.Latitude}}","layout":"row-spread","x":324,"y":502,"wires":[]},{"id":"addd5854.72e4e8","type":"ui_group","z":"","name":"Default","tab":"3f2578bc.61a3b8","disp":true,"width":"6","collapse":false},{"id":"3f2578bc.61a3b8","type":"ui_tab","z":"","name":"AnalysisofAccidents","icon":"dashboard","disabled":false,"hidden":false}]